.account-page-my-courses {
    width: 100%;
    max-width: 100%;
    padding: 0 42px 42px 42px;
}

.my-courses__parent-courses {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 14px;
}