/* Start search input styles */

.parent-searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchbar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: rgba(128, 128, 128, .3);
    color: var(--bluedie-color);
    font: inherit;
    padding: 0.8rem 1.6rem;
    transition: all 400ms ease;
    border: none;
    border-radius: 50rem;
}

.search-icon {
    color: var(--bluedie-color);
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 18px;
    z-index: 1;
    transition: all 400ms;
    animation-direction: alternate;
    animation-name: rotate-search;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    box-shadow: 40px -40px 20px var(--primary-color), -40px 40px 20px var(--primary-color), 40px 40px 20px whitesmoke, -40px -40px 20px whitesmoke;
    border-radius: 50rem;
}

.search-icon:hover {
    transform: translateY(-10px) scale(150%) rotate(45deg);
    color: var(--primary-color);
}

@keyframes rotate-search {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }

}

/* Finish search input styles */