@media screen and (max-width: 1200px) {

    .admin-profile div h1,
    .search-box button,
    .search-box input,
    .admin-profile div h3,
    .header-icon {
        font-size: 16px;
    }

}

@media screen and (max-width: 992px) {

    .search-box {
        background-color: transparent;
        box-shadow: transparent 0 0 0;
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 65px;
        left: 13px;
    }

    .search-box input {
        background-color: rgba(149, 157, 165, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .search-box button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
        height: 47px;
    }

}

@media screen and (max-width: 550px) {
    
    .admin-notif {
        display: block;
        margin: auto;
        top: 170px;
    }

    .search-box {
        width: 290px;
    }

    .header-left-section {
        justify-content: center;
        margin-top: 1.5rem !important
    }

    .admin-profile {
        justify-content: center;
    }

    .admin.header {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .search-box button {
        height: 42px;
    }
}