:root {
    --white: #fff;
    --white-50: #f0f0f0;
    --black: rgb(10, 11, 12);
    --white-btn-color: #fff;
    --blue: rgb(108, 108, 108);
    --blue-50: gray;
    --gray: #ababab;
}

.light-mode {
    --white: rgb(30, 31, 51);
    --white-50: rgb(18, 18, 30);
    --black: #fff;
}

body {
    direction: rtl;
    overflow-x: hidden;
}