@media screen and (max-width: 1200px) {
    .admin.sidebar {
        width: 150px;
    }

    .admin.sidebar-div .logo-on-adminpanel img {
        width: 90px;
    }

    .sidebar-title {
        font-size: 16px !important;
    }

    .sidebar-links li,
    .sidebar-links li a {
        font-size: 15px !important;
    }

    .admin.header {
        width: calc(100% - 150px);
    }

    .sidebar-links li .active {
        margin: 0;
        transform: translateX(0) rotate(0);
        box-shadow: 0 0 10px whitesmoke;
        padding-right: 1rem !important;
    }
}

@media screen and (max-width: 800px) {
    .admin.sidebar-div {
        width: 60px;
    }

    .admin.sidebar-div {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .admin.sidebar-div .logo-on-adminpanel img {
        width: 45px;
    }

    .admin.header {
        width: calc(100% - 60px);
    }

    .icon {
        margin: 0 !important;
    }
}

@media screen and (max-height: 768px) {
    .admin.sidebar {
        align-items: flex-end;
    }
}

@media screen and (max-height: 650px) {

    .admin.sidebar-div {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .admin.sidebar-div .logo-on-adminpanel img {
        width: 45px;
    }

    .content-middle-cms {
        width: calc(100% - 60px) !important;
    }

    .sidebar-links li .active {
        margin: 0;
        transform: translateX(0) rotate(0);
        box-shadow: 4px 4px 10px whitesmoke;
        padding: 0;
    }
}

@media screen and (max-height: 650px),
(max-width: 1200px) {
    .sidebar-title {
        display: none;
    }
}

@media screen and (max-height: 650px) {

    .icon {
        margin: 0 !important;
    }

    .admin.sidebar {
        width: 60px;
    }

    .admin.header {
        width: calc(100% - 45px);
    }

    .sidebar-links li {
        padding: 15px;
    }

}

@media screen and (max-width: 800px),
(max-height: 650px) {
    .sidebar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-links li .active {
        margin: 0;
        transform: translateX(0) rotate(0);
        box-shadow: 4px 4px 10px whitesmoke;
        padding: 0;
    }
}

@media screen and (max-width: 1200px),
(max-height: 650px) {
    .sidebar-links li .active {
        padding-right: 0;
    }
}

@media screen and (max-height: 650px),
(max-width: 800px) {
    .sidebar-links__link span {
        display: none;
    }

    .sidebar-links li a {
        justify-content: center;
    }

}