.admin.sidebar {
    width: 288px;
    height: 100vh;
    position: fixed;
}

.admin.sidebar-div .logo-on-adminpanel img {
    width: 130px;
    padding: 2rem 0 2rem 0;
    margin: auto;
    display: block;
}

.admin.sidebar-div {
    overflow-y: auto;
    width: inherit;
    height: inherit;
    box-shadow: -105px 50px 75px 80px var(--blue) inset;
}

.admin.sidebar-div::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.admin.sidebar-div::-webkit-scrollbar-thumb {
    background-color: rgb(79, 79, 79) !important;
}

.sidebar-title {
    font-size: 22px;
    color: var(--white-btn-color);
    text-align: center;
    border-bottom: 2px solid var(--blue-50);
    padding: 1.3rem 0;
}

.sidebar-links li {
    position: relative;
    padding: 25px 15px;
    display: flex !important;
    display: inline-block;
}

.sidebar-links li a {
    transition: all 300ms;
}

.sidebar-links__link:hover {
    box-shadow: 0px 0px 10px var(--blue);
    border-radius: .8rem;
}

.sidebar-links li:hover a:not(.active) {
    color: gray;
}

.sidebar-links li,
.sidebar-links li a {
    color: var(--white-btn-color);
    text-decoration: none;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.sidebar-links li {
    width: 100%;
    height: 70.8px;
}

.sidebar-links li a {
    width: inherit;
    height: inherit;
    cursor: pointer;
    transition: all .7s !important;
}

.sidebar-links li .active {
    z-index: 1000;
    margin: calc(100%/6);
    transform: translateX(-90px) rotate(90deg);
    transition: all .7s !important;
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
    border-radius: .8rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
    color: whitesmoke !important;
}


.icon {
    margin-left: 10px;
}