/* Start About Us */

.about-us__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.about-us__subtitle {
    color: var(--bluedie-color);
    margin-bottom: 2rem;
}

.about-us__box {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 2rem 1.5rem;
    transition: all 400ms ease;
}

.about-us__box:hover {
    transform: translateY(-0.6rem);
}

.about-us__icon {
    color: var(--whitedie-color);
    font-size: 6.5rem;
}

.about-us__box-left {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.about-us__box-title {
    color: var(--primarydie-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.about-us__box-text {
    color: var(--bluedie-color);
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

/* Finish About Us */
