body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px !important;   
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: var(--black-color);
    cursor: pointer;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: var(--blue-lighter-color);
    border-radius: 50rem;
    border: 3px solid var(--primarydie-color);
    cursor: pointer;
}

::-webkit-scrollbar {
    height: 5px !important;   
    width: 6px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: var(--black-color);
    cursor: pointer;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
    border-radius: 50rem;
    cursor: pointer;
}