.content-left__top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--skyblue-light);
    color: whitesmoke;
}

.content-left__top-header div a {
    background-color: var(--skyblue-low);
    color: var(--skyblue-main) !important;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.1rem;
}

.content-left__top-header p {
    font-weight: 500;
}

.content-left__top-header p {
    font-size: 19px;
}

.content-left__top-header svg {
    margin-right: .8rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 1400px) {
    .content-left__top-header p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1200px) {
    .content-left__top-header p {
        font-size: 1.6rem;
    }
}