@media screen and (max-width: 1550px) {
    .page-account {
        padding: 28px 50px;
    }
}

@media screen and (max-width: 1350px) {
    .page-account {
        padding: 28px 20px;
    }
}

@media screen and (max-width: 1050px) {

    .account-sidbar .logo-header {
        justify-content: center;
    }

    .account-sidbar .logo-header a .logo-header-site {
        width: 65px !important;
    }

    .account-sidbar .logo-header .logo-header__text-logo h2 {
        font-size: 3rem !important;
    }

    .account-sidbar .logo-header .logo-header__text-logo h3 {
        display: none;
    }

    .account-sidbar {
        z-index: 10000;
        min-width: 250px;
        margin-top: 0;
        padding: 1.5rem;
        transition: all 700ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .sidebar-close {
        transform: translateX(350px);
    }

    .sidebar-open {
        transform: translateX(0px);
    }

    .account-sidbar {
        background-color: var(--skyblue-light);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .page-account {
        padding: 0;
    }

    .account-content {
        border-radius: 0;
    }
}