.page-account {
    width: 100%;
    min-height: 100vh;
    background-color: #28293D;
    padding: 28px 100px;
    display: flex;
/*     filter: blur(8px); */
}

.account-sidbar {
    min-width: 230px;
    background-color: transparent;
    margin-left: 56px;
}

.account-sidbar__parent {
    margin-top: 4rem;
}

.account-sidbar__li {
    margin: 25px 0;
    width: 100%;
}

.account-sidbar__link {
    width: 100%;
    display: block;
    border-radius: .5rem;
    padding: .6rem 1rem;
    transition: all 400ms;
}

.account-sidbar__active {
    background-color: var(--primary-color);
}

.account-sidbar__link:not(.account-sidbar__active):hover {
    background-color: #3c4075;
}

.account-sidbar__link svg {
    font-size: 2.3rem;
}

.account-sidbar__link span {
    margin-right: 14px;
    font-size: 1.4rem;
    font-weight: lighter;
}

.account-content {
    width: 100%;
    background-color: #1C1C28;
    border-radius: 3rem;
}

/*?  Start Account Content Header   */
.account-content__header {
    margin: 40px 42px 77px 42px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-content__title {
    font-size: 30px;
    font-weight: lighter !important;
    font-family: Lalezar;
}

.account-content__header-left {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.account-content__prof,
.account-content__parent-notif {
    width: 57px;
    height: 57px;
    border-radius: 50rem;
    background-color: #28293D;
    cursor: pointer;
}

.account-content__parent-notif {
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-content__notif {
    font-size: 2.3rem;
    color: gray;
}

/*? End Account Content Header   */

/*! start Modal Notification */
.modal-notif-account {
    position: absolute;
    top: 70px;
    left: 85px;
    width: 383px;
    background-color: #28293D;
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: all 400ms;
    color: white;
}

.modal-notif-account__title {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    font-family: Lalezar;
    font-size: 2.2rem;
}

.modal-notif-account__bottom .modal-notif-account__announse {
    margin-top: 1.5rem;
    background-color: #32334D;
    border-radius: .8rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
}

.modal-hide {
    opacity: 0;
    visibility: hidden;
}

.modal-show {
    opacity: 1;
    visibility: visible;
}


/*! end Modal Notification */