.page-account {
    width: 100%;
    min-height: 100vh;
    background-color: #28293D;
    padding: 28px 100px;
    display: flex;
    /*     filter: blur(8px); */
}

.account-sidbar {
    min-width: 230px;
    background-color: transparent;
    margin-left: 56px;
    margin-top: 30px;
}

.account-sidbar__parent {
    margin-top: 4rem;
}

.account-content {
    width: 100%;
    background-color: #1C1C28;
    border-radius: 3rem;
}

/*?  Start Account Content Header   */
.account-content__header {
    margin: 40px 42px 57px 42px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-content__title {
    font-size: 30px;
    font-weight: lighter !important;
    font-family: Lalezar;
}

.account-content__header-left {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.account-content__prof,
.account-content__parent-notif {
    width: 57px;
    height: 57px;
    border-radius: 50rem;
    background-color: #28293D;
    cursor: pointer;
}

.account-content__parent-notif {
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-content__notif {
    font-size: 2.3rem;
    color: gray;
}

/*? End Account Content Header   */

/*! start Modal*/
.modal-account {
    position: absolute;
    top: 70px;
    background-color: #28293D;
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: all 400ms;
    color: white;
}

/* start style modal notification  */
.modal-notif-account {
    left: 85px;
    width: 383px;
}

.modal-notif-account__title {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    font-family: Lalezar;
    font-size: 2.2rem;
}

.modal-notif-account__bottom .modal-notif-account__announse {
    margin-top: 1.5rem;
    background-color: #32334D;
    border-radius: .8rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
}
/* end style modal notification  */

/* start style modal account user */
.modal-details-account {
    width: 267px;
    left: 0px;
}

.header-modal-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-modal-account__left {
    margin-right: 1rem;
}

.header-modal-account__user-name {
    font-size: 18px;
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.header-modal-account__user-money-bag {
    font-size: 14px;
    color: rgb(78, 129, 251);
}

/* end style modal account user */

.modal-hide {
    opacity: 0;
    visibility: hidden;
}

.modal-show {
    opacity: 1;
    visibility: visible;
}

/*! end Modal */