.account-page-my-courses {
    width: 100%;
    max-width: 100%;
    padding: 0 42px 42px 42px;
}

.statusbox-page-tickets {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px;
}

.account-page-first__header {
    flex-grow: 1;
    flex-basis: auto;
}

.statusbox-page-tickets__left div {
    cursor: pointer;
}

@media screen and (max-width: 576px) {

    .statusbox-page-tickets__left {
        margin-top: 17px;
    }

    .statusbox-page-tickets {
        display: block;
    }

    .account-page-my-courses {
        padding: 0 12px 42px 12px;
    }
}