.category-filters {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.category-aside {
    width: 24rem;
    position: sticky;
    top: 1rem;
    color: whitesmoke;
}

/* category search input */
.category-research {
    position: relative;
    margin-bottom: 1.5rem;
}

.category-research__input::placeholder {
    color: lightslategrey;
}

.category-research__input {
    color: lightslategrey;
    font-size: 1.1rem;
    background-color: var(--dark-alpha-color);
    border: 0;
    width: 24rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.category-research__icon {
    position: absolute;
    top: 17px;
    left: 1.7rem;
    color: lightslategrey !important;
    font-size: 2.3rem;
    transition: all 400ms;
    cursor: pointer;
}

.category-research__icon:hover {
    color: whitesmoke !important;
}

/* category search input */

/* category ul list filter */
.category-list__parent {
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: var(--dark-alpha-color);
    width: inherit;
    margin-bottom: 1.5rem;
}

.category-list__title {
    color: whitesmoke;
}

.category-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    font-size: 1.2rem;
}

.category-list__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}

.category-list__input,
.category-switch__div .form-check-input {
    background-color: var(--black-color) !important;
    border: 0 !important;
    cursor: pointer;
}

.category-list__name {
    margin-right: .8rem;
}

.category-list__count-course {
    color: lightslategrey;
}

/* category ul list filter */


/* category filter box */
.category-switch__div {
    background-color: var(--dark-alpha-color);
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1rem 0;
}

.category-switch__div .form-check-input {
    font-size: 1.8rem !important;
    margin-left: -3.5rem !important;
}

/* category filter box */


/* category sort */
.category-sort {
    background-color: var(--dark-alpha-color);
    color: whitesmoke;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    padding: 1.4rem;
    margin-right: 1.5rem;
}

.category-sort__icon {
    margin-right: 1rem;
}

.category-sort__title {
    margin-right: .5rem;
}

.category-sort__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-sort__item:not(.select-item-sort) {
    color: lightslategrey;
}

.category-sort__item {
    margin: 0 2rem;
    cursor: pointer;
}

.select-item-sort {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: .5rem 1rem;
    transition: all 400ms;
}

/* category sort */


/* category courses */
.category-courses-and-sort-parent {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.category-courses {
    margin-right: 1.5rem;
}

/* category courses */

.btn-offcanvas {
    border: 0;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-alpha-color);
    color: whitesmoke;
    border-radius: 1rem;
    padding: 1.3rem 0;
    margin-bottom: 1.5rem;
    width: 48%;
}

.btn-text-offcanvas {
    margin-right: .8rem;
}