/** Start default styles */

html {
    width: 100%;
    box-sizing: border-box;
    font-size: 74%;
    overflow-x: hidden !important;
}

body {
    line-height: 1.6;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    direction: rtl;
    background-color: var(--black-color);
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

.app::before,
.app::after {
    content: "";
    width: 100%;
    height: 40rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.app::before {
    bottom: 0rem !important;
    background: linear-gradient(0, rgba(27, 27, 40, 1) 40%, rgba(27, 27, 40, 0) 90%);
}

.app::after {
    bottom: 0rem !important;
    background: linear-gradient(0, rgba(27, 27, 40, 1) 0%, rgba(27, 27, 40, 0) 90%);
}

/*? category title page */
.category-h2 {
    color: whitesmoke;
    font-size: 5rem;
    font-family: Lalezar;
    text-align: center;
    margin: auto;
    margin-bottom: 7rem;
    position: relative;
    width: fit-content;
}

.category-h2::before {
    content: "";
    width: 45px;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 40px;
    right: -65px;
}

/*? category title page */

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
}

a:hover {
    color: var(--bluedie-color);
}

i {
    user-select: none;
}

input::placeholder {
    color: var(--bluedie-color);
}

hr {
    border: .1rem solid gray;
}

ol,
ul,
address {
    padding: 0;
    margin: 0;
}

.blur-page {
    filter: blur(10px) !important;
}

.transition-page {
    transition: all 500ms !important;
}

.parent-spinner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: auto;
    right: auto;
}

/** Finish default styles */


/*? Start helper class */
.header {
    position: relative;
    width: 100%;
    height: 100%;
}

.hty {
    z-index: -1;
    position: absolute;
    top: -200px;
    width: 102%;
    height: 102vh;
    background: linear-gradient(rgba(36, 37, 50, 0.8), rgba(36, 37, 50, 0.8)), url('../../public/Images/Background-header/desert-system.jpg');
    background-size: cover;
    background-position: center;
}

.swal-footer {
    text-align: center;
}

.courses__pagination-link {
    cursor: pointer;
}

.title {
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-text);
    line-height: 1.2;
    position: relative;
    padding: 0.5rem;
    margin-bottom: 1.4rem;
    border-right: 1px solid;
    border-left: 1px solid;
}

.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(43, 206, 86, 0.2);
}

.page {
    margin-top: 3rem;
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--primary-color);
    background-image: linear-gradient(40deg, var(--primarydie-color) 50%, transparent 50%);
    background-position: 240%;
    background-size: 313%;
    transition: all 400ms;
    border: 1px solid;
}

.button:hover {
    background-color: transparent;
    color: var(--bluedie-color);
    background-position: 0%;
}

.paragraph {
    font-size: 1.3rem;
    line-height: 3rem;
    color: var(--bluedie-color);
    text-align: justify;
}

.title-main::before {
    content: "";
    position: absolute;
    right: 1rem;
    opacity: .3;
    width: 33px;
    height: 33px;
    background-color: var(--primary-color);
    border-radius: .6rem;
    transform: rotate(45deg);
    z-index: -1 !important;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/*? Finish helper class */

/*! start style component Plyr */
.container-plyr {
    border-radius: 2rem;
    overflow: hidden;
}

.plyr__poster {
    background-size: cover !important;
    border-radius: 2rem !important;
}

.plyr video {
    border-radius: 2rem !important;
}

.plyr--video {
    background-color: transparent !important;
}

.plyr__video-wrapper {
    background-color: transparent !important;
}

.plyr audio,
.plyr iframe,
.plyr__poster {
    border-radius: 2rem !important;
}
/*! end style component Plyr */