.parent-show-more-intro {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--blue-light-color);
    padding-bottom: 2rem;
    z-index: 999 !important;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.show-more {
    position: relative;
}

.show-more::after,
.show-more::before {
    height: 0 !important;
}

.parent-show-more-intro::before,
.parent-show-more-intro::after {
    content: "";
    width: 100%;
    height: 10rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.parent-show-more-intro::before {
    bottom: 5rem;
    background: linear-gradient(0, rgba(42, 44, 70, 1) 0%, rgba(42, 44, 70, .1) 90%);
}

.parent-show-more-intro::after {
    bottom: 6.5rem;
    background: linear-gradient(0, rgba(42, 44, 70, 1) 0%, rgba(42, 44, 70, .1) 100%);
}

.show-more-intro-icon {
    margin-right: .5rem;
    margin-bottom: .6rem;
}

.show-more-intro {
    font-family: Lalezar;
    font-size: 1.8rem;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all 400ms;
}

.show-more-intro:hover {
    background-color: var(--primarydie-color);
}

.showOveflowYDetails {
    height: auto;
    overflow-y: visible;
}

.unShowOveflowYDetails {
    height: 100vh;
    overflow-y: hidden;
}