.offcanvas-bottom {
    background-color: #28293D !important;
    color: whitesmoke !important;
    border-top-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
}

.offcanvas-title {
    font-size: 2rem !important;
    padding: 1.5rem 1rem !important;
}

.btn-close-category {
    background-color: aliceblue !important;
    margin-right: 2rem !important;
}

.offcanvas-bottom>.offcanvas-header {
    border-top-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
    background-color: #32334D !important;
    justify-content: flex-start !important;
}

.sort-parent__item:not(.noline) {
    border-bottom: 1px solid var(--dark-color);
    padding: 1rem 2rem;
    cursor: pointer;
}

.noline {
    padding: 1rem 2rem;
    cursor: pointer;
}