.pagination-container {
    margin: 3rem auto;
    justify-content: center;
}

.pagination-item {
    color: lightgrey;
    cursor: pointer;
    user-select: none;
}

.page-num-active {
    background-color: var(--primary-color) !important;
    color: white;
}

.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link-dotted {
    cursor: auto;
}

.pagination-link-disable {
    opacity: .5;
    cursor: auto;
}

.pagination-item-disable {
    cursor: auto;
}

.pagination-link-disable:hover {
    background-color: #323242 !important;
    color: lightgray !important;
}

.pagination-link, .pagination-link-dotted {
    border-radius: 0.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #323242;
    margin: 0 0.5rem;
}

.pagination-link:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-link--active {
    color: var(--white-color);
    background-color: var(--primary-color);
}