@media screen and (max-width: 1150px) {
    .swiper-wrapper {
        height: 500px !important;
    }
}

@media screen and (max-width: 992px) {
    .swiper-wrapper {
        height: 425px !important;
    }
}

@media screen and (max-width: 892px) {
    .swiper-wrapper {
        height: 480px !important;
    }

}

@media screen and (max-width: 578px) {
    .swiper-wrapper {
        height: 510px !important;
    }
}