.swiper-wrapper {
    height: 540px !important;
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
    margin: 2rem auto 0 auto;
    padding: 2rem 0;
}

.swiper-slide {
    height: 0 !important;
}