@media screen and (max-width: 1400px) {
    .my-courses__parent-courses {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .my-courses__parent-courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 530px) {
    .account-page-my-courses {
        padding: 0 12px 42px 12px;
    }
}

@media screen and (max-width: 460px) {
    .my-courses__parent-courses {
        grid-template-columns: repeat(1, 1fr);
    }
}