.loading-lazy {
    width: 100% !important;
    height: 100vh !important;
    color: white !important;
    z-index: 10000;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: all 1s ease;
    background: #010101;
    background: linear-gradient(90deg, #010101, #516b47);
}

.poem-weblearn {
    font-size: 6.5rem !important;
    color: var(--primary-color);
    text-shadow: 0px 0px 30px var(--primarydie-color);
}

.loading-lazy__text {
    font-size: 5rem !important;
    margin-bottom: 6rem;
    font-family: Lalezar;
}

@media screen and (min-width: 1100px) {
    .loading-lazy::before {
        content: "";
        width: 120px;
        height: 120px;
        background-color: var(--primarydie-color);
        border-radius: 50rem;
        position: absolute;
        top: 50px;
        left: 100px;
        box-shadow: 100px 100px 1px var(--primarydie-color);
    }

    .loading-lazy::after {
        content: "";
        width: 120px;
        height: 120px;
        background-color: var(--primarydie-color);
        border-radius: 50rem;
        position: absolute;
        bottom: 50px;
        right: 100px;
        box-shadow: -100px -100px 1px var(--primarydie-color);
    }

}

@media screen and (max-width: 620px) {
    .poem-weblearn {
        font-size: 3rem !important;
    }

    .loading-lazy__text {
        font-size: 2rem !important;
        margin-bottom: 1rem;
    }
}