.parent-box-list {
    margin-bottom: 0;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: var(--blue-light-color);
}

.box-list-title {
    font-family: Lalezar;
    font-size: 2rem;
    display: block;
    color: var(--white-color);
    margin-bottom: 1.5rem;
}
