.text-empty-list {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 1.2rem;
}

.li-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .9rem 3rem;
    transition: all 200ms;
}

.li-item:hover {
    background-color: var(--skyblue-die);
}

.li-item__title {
    color: lightgrey;
    font-size: 1.4rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.li-item__list-date {
    font-size: 1.1rem;
    color: lightgray;
}

.li-item__list {
    display: flex;
    align-items: center;
}

.li-item__status-close {
    color: rgb(255, 185, 54);
    background-color: rgba(255, 165, 0, .2);
}

.li-item__status-open {
    color: rgb(63, 255, 63);
    background-color: rgba(0, 128, 0, .2);
}

.li-item__status {
    border-radius: .4rem;
    padding: .3rem .7rem;
    font-size: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 1400px) {
    .li-item__title {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    .li-item__title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 420px) {
    .li-item {
        padding: .9rem 1.5rem;
    }
}